<h1>使用者後台</h1>

<br/>
<br/>

<a href='/admin/restaurants'>Restaurant</a> |
<a href='/admin/categories'>Categories</a> |
<a href='/admin/users'>Users</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      {{#if this.isAdmin}}
      <td>admin</td>
      <td>
        <a href="/admin/users/{{this.id}}">
          set as user
        </a>
      {{else}}
      <td>user</td>
      <td>
        <a href="/admin/users/{{this.id}}">
          set as admin
        </a>
      </td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>