<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="row no-gutters">
    <div class="col-12 col-md-auto">
      <img class="img-responsive center-block" src="{{profile.image}}" style="width: 300px;height: 300px;">
    </div>
    <div class="col-12 col-md-auto">
      <div class="card-body">
        <h2 class="card-title">{{profile.name}}</h2>
        <p class="card-text">{{profile.email}}</p>
        <p class="font-weight-bold">已評論餐廳: {{comments.length}}</p>
        <p class="font-weight-bold">收藏的餐廳: {{profile.FavoritedRestaurants.length}}</p>
        <p class="font-weight-bold">Followings (追蹤者): {{profile.Followings.length}}</p>
        <p class="font-weight-bold">Followers (追隨者): {{profile.Followers.length}}</p>
        {{#ifCond user.id profile.id}}
          <button type="button" class="btn btn-outline-primary">
            <a href="/users/{{profile.id}}/edit">Edit</a>
          </button>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card border-dark mb-3">
      <div class="card-header">Followings (追蹤者): {{profile.Followings.length}}</div>
      <div class="card-body text-dark">
        {{#each profile.Followings}}
          <a href="/users/{{this.id}}">
            <img src="{{this.image}}" alt="" style="width: 60px;height: 60px;margin: 5px 0px;">
          </a>
        {{/each}}
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-header">Followers (追隨者): {{profile.Followers.length}}</div>
      <div class="card-body text-dark">
        {{#each profile.Followers}}
          <a href="/users/{{this.id}}">
            <img src="{{this.image}}" alt="" style="width: 60px;height: 60px;margin: 5px 0px;">
          </a>
        {{/each}}
      </div>
    </div>
  </div> 
  <div class="col-md-8">
    <div class="card border-dark mb-3">
      <div class="card-header">已評論餐廳: {{comments.length}}</div>
      <div class="card-body text-dark">
        {{#each commentSet}}
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" alt="" style="width: 60px;height: 60px;margin: 5px 0px;">
          </a>
        {{/each}}
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-header">收藏的餐廳: {{profile.FavoritedRestaurants.length}}</div>
      <div class="card-body text-dark">
        {{#each profile.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}">
            <img src="{{this.image}}" alt="" style="width: 60px;height: 60px;margin: 5px 0px;">
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<a href="javascript:history.back()">
  <button type="button" class="btn btn-primary">回上一頁</button>
</a>